<!DOCTYPE html>
<html lang="en">
<head>
    <%-include ('template/head.html') %>
</head>
<body style="background-color: black;">
    <div id="particles-js"></div>
    <div class="contenedor-principal">
        <div class="sub-contenedor">
            <div class="burbuja-santa">
                <img src="img/logo_santa.svg" alt="">
            </div>
            <div class="contenedor-contenido">
                <div class="encabezado-tarjeta">
                    <span class="text-1">Hola:</span>
                    <span class="text-2"><%=nombre%></span>
                </div>
                <div class="detalle-tarjeta">
                    <span class="text-1">Tu amigo secreto es:</span>
                    <span class="text-2"><%=amigosecreto%></span>
                </div>
            </div>
        </div>
    </div>
</body>
    <%-include ('template/script.html') %>
    <script src="js/particles.min.js"></script>
    <script src="js/index.js"></script>
</html>